@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
 :root {
    --primary-color: black;
    --primary-color-dark: #fff;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #fff;
    --max-width: 1200px;
}

h2 {
    color: #00b4d8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    font-family: "Josefin Sans", serif;
}


/* Scroll Properties */

 ::-webkit-scrollbar {
    width: 5px;
}

 ::-webkit-scrollbar-track {
    background: white;
}

 ::-webkit-scrollbar-thumb {
    background: black;
}


/* Navbar Design */

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 85px;
    background-color: white;
}

.nav__content {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.3s;
}

nav .checkbox {
    display: none;
}

nav input {
    display: none;
}

nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: var(--text-dark);
    transition: 0.3s;
}


/* ul li a:hover {
        text-decoration: underline;
         border-top-color: var(--secondary-color);
        border-bottom-color: var(--secondary-color); 
         color: var(--secondary-color); 
    } */


/* Dark mode Button */

button {
    padding: 10px 20px;
    font-weight: 700;
    border: none;
    font-size: 25px;
    cursor: pointer;
    background-color: white;
}


/* button:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 5px;
    } */

.dark-mode {
    background: #000;
    color: #ffffff;
}


/* Home Section */


/* .section {
        background-color: var(--extra-light);
    } */

.section {
    height: 90vh;
}

.section__container {
    min-height: auto;
    max-width: var(--max-width);
    margin: auto;
    padding: 12rem 6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.tech {
    grid-column: 1/3;
    padding-left: 10rem;
}

.tech img {
    margin-top: 10px;
    width: 60px;
    margin-left: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle {
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 3rem;
    /* color: var(--text-dark); */
    margin-bottom: 1rem;
}

.title span {
    font-weight: 600;
}

.description {
    color: var(--text-light);
    margin-bottom: 2rem;
    font-size: 20px;
}

.action__btns {
    display: flex;
    gap: .5rem;
    font-size: 30px;
}

.action__btns a {
    color: #495057;
}

.image {
    display: grid;
    place-items: center;
}

.image img {
    width: min(20rem, 90%);
    border-radius: 100%;
}


/* About Section */

.about {
    margin: auto;
    padding: 6rem;
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about .about-img img {
    width: min(20rem, 90%);
}

.about-heading {
    margin-top: 15px;
}

.about-links a {
    color: #495057;
    margin-left: 5px;
    font-weight: bold;
}

.about-description {
    color: var(--text-light);
    font-size: 19px;
    margin-top: 12px;
    line-height: 1.5;
}


/* project */

.project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 6rem;
    max-width: var(--max-width);
    margin: auto;
    gap: 3rem;
}

.project img {
    width: min(35rem, 90%);
    border-radius: 5%;
}

.project .description {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.project .icon {
    gap: 15px;
    text-align: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.project .icon a {
    color: #495057;
    font-size: 22px;
    font-weight: bold;
}

.project-paragraph {
    line-height: 1.2;
}


/* .project .icon:hover {
        text-decoration: underline;
    } */

.project-section {
    padding: 0 6rem;
    max-width: var(--max-width);
    margin: auto;
}


/* contact */

.contact {
    padding: 6rem;
    max-width: var(--max-width);
    margin: auto;
    gap: 3rem;
}

.sub-contact {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.location,
.mail {
    padding: 20px 0;
    cursor: pointer;
}


/* Footer Section */

footer {
    background-color: black;
    color: white;
    height: 5vh;
}

footer h3 {
    font-size: 15px;
    text-align: center;
    padding: 6px 0;
}

@media (width < 750px) {
    /* Nav */
    nav .checkbox {
        display: block;
    }
    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }
    nav #check:checked~ul {
        left: 0;
    }
    ul li a {
        font-size: 1.25rem;
    }
    nav .logo a {
        font-size: 1.5rem;
    }
    /* Home */
    .section__container {
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .image {
        grid-area: 1/1/2/3;
    }
    .action__btns {
        margin: auto;
    }
    .tech {
        padding-left: 0;
    }
    .move-text {
        padding-bottom: 2rem;
        padding-top: 10rem;
    }
    /* About */
    .about {
        padding: 20rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1rem;
    }
    .about .img {
        grid-area: 1/1/2/3;
    }
    /* project */
    .project .project_img {
        grid-area: 1/1/2/3;
    }
    .project {
        padding: 2rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
    .project-section {
        padding: 0 2rem;
    }
    .content {
        margin-left: 3rem;
    }
    /* contact */
    .contact {
        padding: 0 2rem;
    }
    .sub-contact {
        padding: 2rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .description {
        margin-bottom: 0;
    }
    .description h2 {
        margin-left: 1rem;
    }
}